# -------------------------
# Hugo generated content
# -------------------------
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Hugo temporary lock file
/.hugo_build.lock

# -------------------------
# Hugo binaries (usually NOT committed)
# -------------------------
/hugo.exe
/hugo.darwin
/hugo.linux

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
.idea/
*.code-workspace

# Local testing
db.json

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform/terraform.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
